#Experience{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

#Experience h2{
    margin: 0;
    text-align: center;
}

#experience{
    padding-top: 20px;
    padding-bottom: 20px;
}

#Experience button{
    display: block;
    margin: 0 auto;
}